<div>
  <h2 id="page-heading" data-cy="PracticaHeading">
    <span>Practicas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span>Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-practica-button"
        [routerLink]="['/practica/new']"
      >
        <fa-icon icon="plus" />
        <span>Crear nuevo Practica</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (practicas().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Ningún Practicas encontrado</span>
    </div>
  }

  <div style="width: 100%; height: 500px">
    <ag-grid-angular
      [theme]="tema"
      class="ag-theme-balham"
      style="width: 100%; height: 100%"
      [rowData]="practicas()"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [localeText]="localeText"
      [animateRows]="true"
      (filterChanged)="onFilterChanged($event)"
      (cellValueChanged)="onCellValueChanged($event)"
    >
    </ag-grid-angular>
  </div>

  @if (practicas().length > 0) {
    <div class="ag-theme-balham">
      <jhi-ag-grid-pagination
        [page]="page()"
        [pageSize]="itemsPerPage()"
        [totalItems]="totalItems()"
        (pageChange)="navigateToPage($event)"
      />
    </div>
  }
</div>
