<div>
  <h2 id="page-heading" data-cy="PlanMutualHeading">
    <span>Plan Mutuals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span>Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plan-mutual"
        [routerLink]="['/plan-mutual/new']"
      >
        <fa-icon icon="plus" />
        <span>Crear nuevo Plan Mutual</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (planMutuals().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Ningún Plan Mutuals encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="categoria">
              <div class="d-flex">
                <span>Categoria</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="etiquetaReporte">
              <div class="d-flex">
                <span>Etiqueta Reporte</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="prestacionesImportadas">
              <div class="d-flex">
                <span>Prestaciones Importadas</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="mutual.nombre">
              <div class="d-flex">
                <span>Mutual</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (planMutual of planMutuals(); track trackId(planMutual)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/plan-mutual', planMutual.id, 'view']">{{ planMutual.id }}</a>
              </td>
              <td>{{ planMutual.categoria }}</td>
              <td>{{ planMutual.etiquetaReporte }}</td>
              <td>{{ planMutual.prestacionesImportadas }}</td>
              <td>
                @if (planMutual.mutual) {
                  <div>
                    <a [routerLink]="['/mutual', planMutual.mutual.id, 'view']">{{ planMutual.mutual.nombre }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/plan-mutual', planMutual.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline">Vista</span>
                  </a>

                  <a [routerLink]="['/plan-mutual', planMutual.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(planMutual)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (planMutuals().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
