<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-empleado-heading" data-cy="EmpleadoCreateUpdateHeading">Crear o editar Empleado</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_apellido">Apellido</label>
          <input type="text" class="form-control" name="apellido" id="field_apellido" data-cy="apellido" formControlName="apellido" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cuit">Cuit</label>
          <input type="text" class="form-control" name="cuit" id="field_cuit" data-cy="cuit" formControlName="cuit" />
        </div>

        @let tipoIvaRef = editForm.get('tipoIva')!;
        <div class="mb-3">
          <label class="form-label" for="field_tipoIva">Tipo Iva</label>
          <select class="form-control" name="tipoIva" formControlName="tipoIva" id="field_tipoIva" data-cy="tipoIva">
            <option [ngValue]="null"></option>
            @for (tipoIva of tipoIvaValues; track $index) {
              <option [value]="tipoIva">
                {{ { null: '', RESP_NO_INSCRIPTO: 'RESP_NO_INSCRIPTO', RESP_INSCRIPTO: 'RESP_INSCRIPTO' }[tipoIva] }}
              </option>
            }
          </select>
          @if (tipoIvaRef.invalid && (tipoIvaRef.dirty || tipoIvaRef.touched)) {
            <div>
              @if (tipoIvaRef.errors?.required) {
                <small class="form-text text-danger">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_domicilio">Domicilio</label>
          <input type="text" class="form-control" name="domicilio" id="field_domicilio" data-cy="domicilio" formControlName="domicilio" />
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (emailRef.errors?.required) {
                <small class="form-text text-danger">Este campo es obligatorio.</small>
              }
              @if (emailRef.errors?.pattern) {
                <small class="form-text text-danger">Este campo debe seguir el patrón Email.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fechaIngreso">Fecha Ingreso</label>
          <div class="input-group">
            <input
              id="field_fechaIngreso"
              data-cy="fechaIngreso"
              type="text"
              class="form-control"
              name="fechaIngreso"
              ngbDatepicker
              #fechaIngresoDp="ngbDatepicker"
              formControlName="fechaIngreso"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaIngresoDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        @let telefonoRef = editForm.get('telefono')!;
        <div class="mb-3">
          <label class="form-label" for="field_telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
          @if (telefonoRef.invalid && (telefonoRef.dirty || telefonoRef.touched)) {
            <div>
              @if (telefonoRef.errors?.pattern) {
                <small class="form-text text-danger">Este campo debe seguir el patrón Telefono.</small>
              }
            </div>
          }
        </div>

        @let generoRef = editForm.get('genero')!;
        <div class="mb-3">
          <label class="form-label" for="field_genero">Genero</label>
          <select class="form-control" name="genero" formControlName="genero" id="field_genero" data-cy="genero">
            <option [ngValue]="null"></option>
            @for (gender of genderValues; track $index) {
              <option [value]="gender">{{ { null: '', HOMBRE: 'H', MUJER: 'M' }[gender] }}</option>
            }
          </select>
          @if (generoRef.invalid && (generoRef.dirty || generoRef.touched)) {
            <div>
              @if (generoRef.errors?.required) {
                <small class="form-text text-danger">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_usuario">Usuario</label>
          <select
            class="form-control"
            id="field_usuario"
            data-cy="usuario"
            name="usuario"
            formControlName="usuario"
            [compareWith]="compareUser"
          >
            @if (!editForm.get('usuario')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (userOption of usersSharedCollection(); track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['usuario'])!.invalid && (editForm.get(['usuario'])!.dirty || editForm.get(['usuario'])!.touched)) {
          <div>
            @if (editForm.get(['usuario'])?.errors?.required) {
              <small class="form-text text-danger">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span>Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
