<div>
  <h2 id="page-heading" data-cy="MutualHeading">
    <span>Mutuals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span>Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mutual"
        [routerLink]="['/mutual/new']"
      >
        <fa-icon icon="plus" />
        <span>Crear nuevo Mutual</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (mutuals().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Ningún Mutuals encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <div class="d-flex">
                <span>Nombre</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion">
              <div class="d-flex">
                <span>Descripcion</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="cuit">
              <div class="d-flex">
                <span>Cuit</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="tipoIva">
              <div class="d-flex">
                <span>Tipo Iva</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="domicilio">
              <div class="d-flex">
                <span>Domicilio</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="telefono">
              <div class="d-flex">
                <span>Telefono</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span>Email</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="habilitada">
              <div class="d-flex">
                <span>Habilitada</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (mutual of mutuals(); track trackId(mutual)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/mutual', mutual.id, 'view']">{{ mutual.id }}</a>
              </td>
              <td>{{ mutual.nombre }}</td>
              <td>{{ mutual.descripcion }}</td>
              <td>{{ mutual.cuit }}</td>
              <td>
                {{ { null: '', RESP_NO_INSCRIPTO: 'RESP_NO_INSCRIPTO', RESP_INSCRIPTO: 'RESP_INSCRIPTO' }[mutual.tipoIva ?? 'null'] }}
              </td>
              <td>{{ mutual.domicilio }}</td>
              <td>{{ mutual.telefono }}</td>
              <td>{{ mutual.email }}</td>
              <td>{{ mutual.habilitada }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/mutual', mutual.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline">Vista</span>
                  </a>

                  <a [routerLink]="['/mutual', mutual.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(mutual)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (mutuals().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
